.room-list-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-column-gap: 10px;
  grid-template-areas: 
    ". header ."
    ". main ."
    ". footer .";
  justify-items: center;
}

.header {
  grid-area: header; 
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-areas: "room-description preview"; */
}

/* "main" area holds a list of rooms */
.room {
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-areas: "room-description preview"; 
}

.room-description {
  grid-area: room-description;
}

.preview {
  grid-area: preview;
}

.footer {
  grid-area: footer;
}